html{
    background-color: whitesmoke;
}

body{
    margin: 0;
}

.navbar{
    cursor:pointer;
    color:#FFF;
    font-size:1.5em;
    background-color: #151D26;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    /*remember to make it fixed*/
}

.brand{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 23px;
    margin-right: 15px;
}

.main-nav{
    float: left;
    display: flex;
    list-style: none;
    font-size: 0.7em;
    margin: 0;
}

.main-nav-right{
    float: right;
    display: flex;
    list-style: none;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    padding-top: 4px;
    padding-right: 10px;
}

.dropdown {
    display: none;
}

@media only screen and (max-width: 600px){
    .main-nav{
        font-size: 0.5em;
        padding: 0;
    }
    
    .brand{
        font-family: 'Nanum Pen Script', cursive;
        font-size: 22px;
    }
    
    .main-nav-right{
        font-size: 12px;
        padding-top: 4px;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 540px) {
    .main-nav-right {
        display: none;
    }  

    .dropdown {
        display: block;
        overflow: hidden;
        float: right;
        margin: 0;
        padding-top: 8px;
    }
  
    .dropdown .dropbtn {
        margin: 0;
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 10px;
        background-color: inherit;
        font-family: inherit; /* Important for vertical align on mobile phones */
        margin: 0; /* Important for vertical align on mobile phones */
    }

    #menu-icon {
        width: 27px;
        height: 27px;
    }
  
    .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        margin-top: 5px;
        list-style: none;
        font-family: 'Lato', sans-serif;
        font-size: 13px;
        background-color: #f9f9f9;
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
  
    .dropdown-content a {
        float: none;
        color: black;
        margin: 0;
        padding: 7px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
  
    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .dropcheck {
        position: absolute;
        left: -9999px;
    }
    
    .dropcheck:checked ~ .dropdown-content {
      display: block;
    }
}

li{
    padding: 10px;
}

a{
    color: #fff;
    text-decoration: none;
}

.container{
    margin-top: 45px;
}

#slideshow-bkgrd{
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    animation: slideBg 14s linear infinite 6s;
    animation-timing-function: ease-in-out;
    background-image: url("../img/first.jpg");
}

@keyframes slideBg {
    0% {
        background-image: url("../img/first.jpg");
    }
    25% {
        background-image: url("../img/second.jpg");
    }
    50% {
        background-image: url("../img/third.jpg");
    }
    75% {
        background-image: url("../img/fourth.jpg");
    }
    100% {
        background-image: url("../img/fifth.jpg");
    }
}

.content {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: end;
}

.main-content{
    text-align: center;
    margin-left: 15px;
    margin-bottom: 60px;
    padding-top: 110px;
    padding-bottom: 130px;
    color: black;
    background-color: #a9a9a9b4;
    height: 15%;
    border-radius: 8px;
    font-family: 'Lato', sans-serif;
}

.main-content h2{
    margin: 0;
    font-size: 30px;
}

.emphasize {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 40px;
}

.main-content p{
    margin: 0;
    padding: 10px 15px 10px 15px;
    font-size: 23px;
}

.sub-content{
    text-align: center;
    margin-bottom: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: black;
    background-color: #a9a9a9b4;
    height: 15%;
    border-radius: 8px;
    font-family: 'Lato', sans-serif;
}

.join-us {
    margin-bottom: 60px;
    margin-left: 50px;
}

button {
    text-align: center;
    padding: 20px 65px 20px 65px;
    background-color: rgba(241, 237, 173, 0.945);
    border: none;
    border-radius: 10px;
}


@media only screen and (max-width: 480px) {
    .content {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-end;
        justify-content: center;
        padding-bottom: 10px;
    }

    .main-content {
        text-align: center;
        margin-bottom: 10px;
        padding-top: 30px;
        padding-bottom: 25px;
        color: black;
        background-color: #a9a9a9b4;
        height: 25%;
        font-family: 'Lato', sans-serif;
    }

    .main-content h2{
        margin: 0;
        font-size: 20px;
    }

    .emphasize {
        font-family: 'Nanum Pen Script', cursive;
        font-size: 30px;
    }

    .main-content p{
        margin: 0;
        padding: 10px 15px 10px 15px;
        font-size: 18px;
    }

    .sub-content {
        margin: 5px 8px 10px 8px;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 40px;
        color: black;
        background-color: #a9a9a9b4;
        height: 10%;
        font-family: 'Lato', sans-serif;
    }

    .sub-content h2{
        margin: 0;
        font-size: 20px;
        padding-left: 15px;
        text-align: left;
    }

    .sub-content p{
        margin: 0;
        padding: 5px;
        font-size: 18px;
    }
    
    .join-us {
        text-align: center;
        margin-left: 0;
        margin-bottom: 10px;
    }
    
    button {
        padding: 13px 35px 13px 35px;
        background-color: rgba(241, 237, 173, 0.945);
        border: none;
        border-radius: 8px;
    }
}

.about {
    padding: 50px;
    background-color: rgba(118, 139, 166, 0.342);
    font-family: 'Lato', sans-serif;
}

.events {
    font-family: 'Lato', sans-serif;
}

.event-wrapper {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.event-box {
    height: 300px;
    background-color: burlywood;
}

footer{
    text-align: end;
    color: #FFF;
}

.footer-color{
    background: #151D26;
}

footer p{
    margin: 0;
    font-weight: 300;
    font-size: 18px;
    padding: 10px;
}
